html {
	min-width: 800px;
}

@media only screen and (min-width: 800px) {
	html,
	body {
		min-width: 800px;
	}
}

body {
	min-width: 800px;
	line-height: 1.15;
	font-size: 14px;
	color: #ddd9d6;
	background-color: #161412;
}

.main-page {
	margin-top: 0.1rem;
}

#file {
	left: -9999px;
	position: absolute;
}

.label-btn {
	margin: 10px auto;
	text-align: center;
	color: #ddd9d6;
	font-size: 20px;
	position: relative;
}

.label-btn .tag {
	position: absolute;
	left: 250px;
	bottom: 10px;
	color: #ddd9d6;
}

.label-btn span:hover {
	color: #ddd9d6;
}

.foot-c {
	float: bottom;
	width: 100%;
	height: 40px;
	background-color: #161412;
	color: #ddd9d6;
	text-align: center;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 14px;
}

.child {
	display: inline-block;
	text-align: left;
	color: #ddd9d6;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 16px;
}

.child-smaller {
	display: inline-block;
	text-align: left;
	color: #ddd9d6;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 14px;
}

.parent {
	text-align: center;
}

.force {
	padding-top: 10px;
	padding-left: 105px;
}

.mvbtn {
	background: linear-gradient(to bottom, #eae0c2 5%, #eae0c2 100%);
	background-color: #eae0c2;
	border-radius: 15px;
	border: 2px solid #161413;
	display: inline-block;
	cursor: pointer;
	color: #161413;
	font-family: Courier New;
	font-size: 12px;
	padding: 5px 6px;
	text-decoration: none;
}

.mvbtn:hover {
	background: linear-gradient(to bottom, #eae0c2 5%, #eae0c2 100%);
	background-color: #eae0c2;
}

.mvbtn:active {
	position: relative;
	top: 1px;
}